.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/scopes/
.idea/qaplug_profiles.xml
.idea/sonarIssues.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea